* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-height: 100dvh;
    background-color: #BCFFBC;
}

.section_title {
    font-size: 4rem;
    color: #185518;
    margin: 2rem 0 1.4rem 3rem;
}

.carrousel_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem;
}

.carrousel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.btn_roll {
    width: 4rem;
    height: 8rem;
    border: none;
    background: none;
    outline: none;
    border-radius: .6rem;
    color: #185518;
    font-size: 3rem;
    font-weight: bold;
    opacity: .5;
}

.btn_roll:hover {
    cursor: pointer;
    opacity: 1;
    background-color: #21AA2155;
}

.card {
    display: grid;
    place-items: center;
    min-width: 12rem;
    height: 18rem;
    padding: 1rem;
    border-radius: .8rem;
    background-color: #21AA21;
}