* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    padding: 2rem;
    background-color: #666;
}

.container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr 1fr;
    min-height: calc(100dvh - 4rem);
}

.container .card {
    padding: 2rem;
    border-radius: 1.6rem;
    background-color: #333;
}